.localGalaxyGroup {
	text-align: left;
	font-size: 16px;
	background-color: #eee;
	color: black;
	border-radius: 2px;
	margin-top: 10px;
	padding-bottom: 50px;
}

h1 {
	font-weight: bolder;
	font-size: 30px;
	margin: 0 50px;
	padding-top: 30px;
}

p {
	margin: 0 50px;
	text-indent: 10px;
}

ul li {
	margin: 0 50px;
	margin-left: 80px;
	list-style-type: disc;
}

a {
	color: #888;
}

.headerCategoryName {
	color: white;
}
