@font-face {
	font-family: 'clear_sansbold';
	src: url('fonts/ClearSans-Bold-webfont.eot');
	src: url('fonts/ClearSans-Bold-webfont.eot?.iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Bold-webfont.woff') format('woff'),
		 url('fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
		 url('fonts/ClearSans-Bold-webfont.svg.clear_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'clear_sansitalic';
	src: url('fonts/ClearSans-Italic-webfont.eot');
	src: url('fonts/ClearSans-Italic-webfont.eot?.iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Italic-webfont.woff') format('woff'),
		 url('fonts/ClearSans-Italic-webfont.ttf') format('truetype'),
		 url('fonts/ClearSans-Italic-webfont.svg.clear_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'clear_sans_lightregular';
	src: url('fonts/ClearSans-Light-webfont.eot');
	src: url('fonts/ClearSans-Light-webfont.eot?.iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Light-webfont.woff') format('woff'),
		 url('fonts/ClearSans-Light-webfont.ttf') format('truetype'),
		 url('fonts/ClearSans-Light-webfont.svg.clear_sans_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'clear_sansregular';
	src: url('fonts/ClearSans-Regular-webfont.eot');
	src: url('fonts/ClearSans-Regular-webfont.eot?.iefix') format('embedded-opentype'),
		 url('fonts/ClearSans-Regular-webfont.woff') format('woff'),
		 url('fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
		 url('fonts/ClearSans-Regular-webfont.svg.clear_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;}

/*Bold 700*/
@font-face {
	font-family: Source Sans Pro;
	src:	local('Source Sans Pro Bold'),
			local('SourceSansPro-Bold'),
			url('fonts/SourceSansPro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
			url('fonts/SourceSansPro/OTF/SourceSansPro-Bold.otf') format('opentype'),
			url('fonts/SourceSansPro/TTF/SourceSansPro-Bold.ttf') format('truetype'),
			url('fonts/SourceSansPro/SVG/SourceSansPro-Bold.svg') format('svg'); 
	font-weight: 700;
	font-style: normal;
}

/*Bold 700 Italic*/
@font-face {
	font-family: Source Sans Pro;
	src:	local('Source Sans Pro Bold Italic'),
			local('SourceSansPro-BoldIt'),
			url('fonts/SourceSansPro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
			url('fonts/SourceSansPro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
			url('fonts/SourceSansPro/TTF/SourceSansPro-BoldIt.ttf') format('truetype'),
			url('fonts/SourceSansPro/SVG/SourceSansPro-BoldIt.svg') format('svg'); 
	font-weight: 700;
	font-style: italic;
}

/* STYLE */

::selection {
	color: white;
	background: #FF7F50;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: super;
	line-height: 0;
}

body {
	overflow-y: scroll;
	background-color: #FFF;
	color: #000;
	font-family: Source Sans Pro, clear_sansregular, sans-serif;
	text-align: center;
	font-weight: 400;
	cursor: default;
}

/* TOP */

.adContainer > * {
	width: 100%;
	background: #e6e6e6;
	padding: 4px 0 5px 0;
}

.topWrapper {
	width: 100%;
	height: 29px;
	background: #333;
	overflow: hidden;
}

.topLeft {
	width: 800px;
	height: 29px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.socialFollows {
	height: 29px;
	margin: 0 auto;
	color: white;
}

.sFElementWrapper {
	display: inline-block;
}

.sFElementWrapper > div {
	height: 29px;
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
}

.facebookPage {
	display: inline-block;
	width: 30px;
	height: 29px;
	background: url(../img/social_facebookWhite.png) 50% no-repeat;
	background-size: 10px 20px;
	transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

.twitterPage {
	display: inline-block;
	width: 30px;
	height: 29px;
	background: url(../img/social_twitterWhite.png) 50% no-repeat;
	background-size: 20px 20px;
	transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

.facebookPage:hover {
	background: #f1c40f url(../img/social_facebook.png) 50% no-repeat;
	background-size: 10px 20px;
}

.twitterPage:hover {
	background: #f1c40f url(../img/social_twitter.png) 50% no-repeat;
	background-size: 20px 20px;
}

.topRight {
	font-family: clear_sansregular;
	width: 400px;
	height: 29px;
	text-align: right;
	font-size: 16px;
	color: white;
	line-height: 29px;
	display: inline-block;
	vertical-align: top;
}

.donateText {
	display: inline-block;
	font-family: clear_sansbold;
	height: 29px;
	transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

.donateText:hover {
	background: ;
	color: #f1c40f;
	text-decoration: none;
}

.flattrButton {
	position: relative;
	top: 4px;
	margin-left: 3px;
	display: inline-block;
}

/* CONTENT */

.localGalaxyGroup {
	max-width: 1200px;
	margin: 0 auto;
}

.headerLogo {
	margin: 0 auto;
	margin-top: 50px;
	background: url('../img/logoBlack.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 1000px;
	height: 185px;
}

.sharingIcons {
	width: 100%;
	display: block;
	margin: 15px 0 50px 0;
}

.sharingIcons > a {
	margin: 0 7px;
	opacity: 0.2;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.sharingIcons > a:hover {
	width: 60px;
	opacity: 1;
}

.categoriesContainer {
	display: inline-block;
	margin-bottom: 20px;
	color: white;
	border-radius: 3px;
	overflow: hidden;
}

.categoryBoxWrapper {
	width: 400px;
	height: 250px;
	float: left;
}

.categoryBox {
	position: relative;
	overflow: hidden;
	width: 400px;
	height: 250px;
	float: left;
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.categoryBox:hover {
	text-decoration: none;
}

#boxWebdesign {background-color: #024959} #boxWebdesign:hover {background-color: #03738c}
#boxAfterformat {background-color: #953336} #boxAfterformat:hover {background-color: #c74448}
#boxIndiegames {background-color: #a88827} #boxIndiegames:hover {background-color: #dbb132}
#boxFree2play {background-color: #009066} #boxFree2play:hover {background-color: #00c288}
#boxBrowsergames {background-color: #105c13} #boxBrowsergames:hover {background-color: #188f1c}
#boxOther {background-color: #4c355e} #boxOther:hover {background-color: #765191}

.lastUpdate {
	margin: 8px 0 0 0;
	display: inline-block;
	text-align: center;
	height: 20px;
}

.lastUpdateIcon {
	display: inline-block;
	margin: 0 5px 0 0;
	opacity: 0.6; 
	background-image: url('../img/lastUpdate.png'); 
	width: 12px;
	height: 12px;
}

.lastUpdateDate {
	display: inline-block;
	font-size: 12px;
	position: relative;
	bottom: 2px;
	opacity: 0.5;
	font-family: clear_sans_lightregular;
}

.categoryName {
	height: 50px;
	width: 100%;
	margin-top: 40px;
	font-size: 44px;
	font-style: italic;
	font-weight: 700;
	display: inline-block;
}

.categoryStats {
	font-family: clear_sans_lightregular;
	font-weight: 300;
	font-size: 14px;
	display: inline-block;
	height: 20px;
}

.categoryStats sup {
	font-size: 13px;
	opacity: 0.6;
}

.categoryStatsIcon {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url('../img/linkIcon.png');
}

.categoryStatsIcon2 {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url('../img/categoriesIcon.png');
	margin-left: 10px;
}

.categoryStatsValue {
	display: inline-block;
}

.categorySharingIcons {
	bottom: 50px;
	left: 0;
	position: relative;
	width: 400px;
	text-align: center;
	display: inline-block;
	z-index: 200;
}

.categorySharingIcons > a {
	margin: 0 2px;
	height: 20px;
	width: 20px;
	opacity: 0.5;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.categorySharingIcons > a:hover {
	width: 50px;
	height: 20px;
	opacity: 1;
}

/* FOOTER */

.footerContainer {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.footerDefinition {
	font-size: 16px;
	font-weight: 700;
	font-family: clear_sansbold;
}

.footerDefinition p {
	font-size: 16;
	font-family: clear_sansregular;
	font-weight: 400;
	display: block;
	color: #414141;
}

.footerAbout {
	font-family: clear_sansregular;
	margin-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 16px;
}

.footerAbout p {
	line-height: inherit;
	display: block;
}

.footerAbout a {
	line-height: inherit;
	color: #414141;
}

.emailFooter {
	color: #414141;
	cursor: text;
}

/* RESPONSIVE */

@media (max-width: 1220px) {
.localGalaxyGroup {
	max-width: 800px;
}

.headerLogo {
	margin-top: 40px;
	width: 700px;
	height: 128px;
}

.topLeft {
	width: 400px;
}

.topRight {
	width: 400px;
}
}

@media (max-width: 820px) {
.topWrapper {
	width: 100%;
	height: 90px;
	text-align: center;
}

.topLeft {
	width: 100%;
	text-align: center;
	height: 60px;
	display: block;
}

.topRight {
	width: 100%;
	text-align: center;
	display: block;
}

.sFElementWrapper {
	display: block;
}

.sFElementWrapper:nth-of-type(2), .sFElementWrapper:nth-of-type(3) {
	margin-top: -7px;
}

.localGalaxyGroup {
	width: 100%;
}

.headerLogo {
	margin-top: 30px;
	width: 400px;
	height: 73px;
}

.categoryBoxWrapper {
	width: 100%;
}

.categoryBox {
	width: 100%;
}

.sharingIcons > a {
	margin: 0 4px;
	width: 24px;
	height: 24px;
}

.sharingIcons > a:hover {
	width: 34px;
	opacity: 1;
}

.categorySharingIcons {
	width: 100%;
}
}

@media (max-width: 420px) {
.headerLogo {
	margin-top: 30px;
	width: 280px;
	height: 51px;
}

.sharingIcons > a {
	margin: 0 3px;
	width: 20px;
	height: 20px;
}

.sharingIcons > a:hover {
	width: 20px;
	opacity: 1;
}

.categoryName {
	font-size: 36px;
}

.categorySharingIcons > a:hover {
	width: 20px;
	height: 20px;
	opacity: 1;
}
}